body{
    height: 100%;
    background-color: #110000;
}
.special-case-desk-bg{
    width: 100%;
    display: flex;
    position: relative;
}
.special-case-mob-bg{
    width: 100%;
    display: flex;
    position: relative;
}
.header-title img{
    width: 1000px;
}
.content{
    position: absolute;
    padding: 20px auto;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.figure,.figure img{
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerContent{
 
    height: 280px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.middleContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-height: 300px;
    height: 100%;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img{
    width: 100%;
    max-width: 400px;
}

.title-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.desc{
    color: white;
    width: 75%;
    font-family: 'League Gothic';font-size: 32px;
    max-width: 700px;
}

.bodyContent{
    height: 950px;
    display: flex;
    width: 95%;
    margin: 0px auto 0 auto;
    justify-content: space-around;

}

.content-img{
    max-height: 800px;
}
.content-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-case{
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.content-info{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.text-middle{
    max-width: 190px;
    font-family: 'League Gothic';font-size: 32px;
    color:white;
    margin: 0;
    text-align: center;
}
.text-content{
    max-width: 200px;
    font-family: 'League Gothic';font-size: 32px;
    color:white;
    margin: 0;
    text-align: center;
    margin: 15px 0 0 0;

}
.text-value{
    margin: 0;
    font-family: 'League Gothic';font-size: 100px;
    color:white;
}
.footer-content{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle-img{
    width: 100%;
    max-width: 150px;
}
.show-mob{
    display: none;
}
.footer-imgs img{
    width: 100%;
}
/* .special-case-mob-bg{
    display: none;
} */
.show-mob-title{
    display: none;
}

@media only screen and (max-width: 1127px) {

    
}
@media only screen and (max-width: 1399px) {
    .middleContent{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 430px;
    }
    .footer-imgs img {
        width: 80%;
    }
    .content-body-mob{
        flex-direction: initial;
    }
    .show-desc{
        display: none;
    }
    .show-mob{
        display: flex;
    }
    .special-case-mob{
        flex-direction: column-reverse;
    }
    .content-img{
        height: 600px;
    }
    .img-desc-body{
        width: 150px;
        height: 150px;
    }
    .bodyContent{
        height: 100%;
        max-height: 600px;
    }
    
}
@media only screen and (max-width: 688px) {
    .show-desk-title{
        display: none;
    }
    .show-mob-title{
        display: flex;
    }
    
    .headerContent{
        height: 300px;
    }
    
    .middleContent{
        height: 370px;
    }
    .img-desc-body{
        width: 100%;
        height: 100%;
    }
    .content-body-mob{
        height: 320px;
        align-items: center;
        width: 95%;
        margin: 0 auto;
    }
    .content-body{
        justify-content: flex-end;
    }
    .footer-imgs img {
        width: 80%;
    }
    .content-img{
        height: auto;
        width: 100%;
    }
    
    .bodyContent{
        height: 600px;
    }
    .middle-img{
        max-width: 100px;
    }
    .text-content{
        font-size: 30px;
    }
}
@media only screen and (max-width: 370px) {
    .content-body-mob{
        height: 370px;
    }
    .headerContent{
        height: 240px;
    }
    /* .special-case-desk-bg{
        display: none;
    }
    .special-case-mob-bg{
        height: 1510px;
        background-image: url('./assets/Background-mob.png');
        background-repeat: no-repeat;
        width: 100%;
    } */
    .middle-img{
        max-width: 85px;
    }
    .bodyContent{
        height: 430px;
        width: 90%;

    }
}
/*  */